html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    position: relative;
    padding: 15px;
    box-shadow: 0 5px 10px #888;
}

main {
    flex: 1;
    background-color: #e0e0e0;
}

footer {
    padding: 15px;
    box-shadow: 0 -5px 10px #888;
}