@import "reset.css";
@import "layout.css";
@import "generic.css";
@import "contents.css";

header {
    display: flex;
}

footer {
    min-height:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 10px;
}