#contas-dst {
    flex: 1;
    flex-direction: column;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#contas-dst section {
    margin: 10px;
    border-radius: 5px;
}

#entradas {
    background-color: blue;
}

#totais {
    background-color: #000;
}

.input-field,
p,
#calc {
    margin: 10px 0;
}

input {
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
}

#contas-dst button {
    color: blue;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}