@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.contents {
    animation: fadeIn 500ms;
}

/* CARDS */
#cards {
    flex: 1;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-evenly;
    align-content: space-around;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    height: 300px;
    width: 230px;
    background-color: #fff;
    padding-bottom: 2rem;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #666;

    transition: 100ms;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px #999;
    cursor: pointer;
    z-index: 1;
}

.card img {
    height: 80%;
    margin: auto;
}

.card figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    background-color: #000;
}

/* CONTAS */
